// colors
$dem: #1b4e81;
$dem-lean: #ddeeff;
$dem-med: #a7c6e5;
$dem-light: #ddeeff;
$dem-pale: #f6fbff;
$rep: #d20f26;
$rep-lean: #ffeaec;
$rep-med: #ffb6bf;
$rep-light: #ffdce0;
$rep-pale: #ffeaec;
$ind: #703089;
$ind-lean: #f4e6f9;
$green: #318601;
$green-lean: #f1fbe7;
$other: #999999;
$other-lean: #dddddd;
$battle: #ffcc00;
$white: #fff;
$grey-f9: #f9f9f9f9;
$grey-eee: #eee;
$grey-ddd: #ddd;
$grey-ccc: #ccc;
$grey-999: #999;
$grey-666: #666;
$grey-444: #444;
$grey-333: #333;
$grey-2b: #2b2b2b;
$grey-222: #222;
$grey-111: #111;
$black: #000;

// breakpoints
$break-small: 400px;
$break-med: 764px;